<h1>Todo.ly</h1>


<form>
  <div class='style-form'>
    <input type='text' id='todo'>
    <br>
    <input type='submit' value='Create Todo'>
  </div>
</form>



<div class="todo-list">
  <h2>Things To-Do</h2>

  <div id='todo-form'></div>
  <div class="alert-style" id="alert">
    <button id='hide'>close</button>
  </div>
  <div class="alert-delete">
    <button id='hide-delete'>close</button>
  </div>
  <div class="alert-complete">
    <button class='hide-complete'>close</button>
  </div>


</div>

<div class="todo-list">
  <h2>Completed</h2>

  <div id='completed-todos'></div>

</div>

<section class="js-output">
  <h1>JS Output</h1>
  <ul></ul>
</section>