/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
    text-align: center;
    /*border: thin solid black;*/
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}

.alert-style {
    background-color: yellowgreen;
    color: white;
    display: none;
    text-align: right;
    height: 25px;
    margin-top: 15px;

}

.created-alert{
    float: left;
    margin-left: 20px;
    margin-right: 100px;

}


.todo-list{
    border-top: thin solid black;
    margin-top: 30px;
}

.alert-delete {
    background-color: darkred;
    color: white;
    display: none;
    text-align: right;
    height: 25px;
    margin-top: 15px;

}

.alert-complete {
    background-color: blue;
    color: white;
    display: none;
    text-align: right;
    height: 25px;
    margin-top: 15px;

}